.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 17px;
  padding-bottom: 67px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    padding: 0 19px 67px 19px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    padding-bottom: 48px;
    grid-template-columns: 1fr;
  }
}


