.footer__copyright {
  margin-top: 0;
  margin-bottom: 0;
  color: #545454;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 500px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
