.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url(../../../images/close.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .5s ease-out;
}

.popup__close:hover {
  opacity: .6;
}
