.profile__avatar {
  position: relative;
  margin-right: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__avatar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: background .5s ease-out;
}

.profile__avatar:hover::after {
  background-color: rgba(0, 0, 0, 0.8);
}

.profile__avatar:hover .profile__edit-avatar {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .profile__avatar {
    margin-right: 0;
    margin-bottom: 26px;
  }
}
