.profile__description {
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 320px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 36px;
    text-align: center;
  }
}
