.gallery__favorite {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: opacity 0.5s ease-out;
  flex-shrink: 0;
  margin-bottom: 2px;
}

.gallery__favorite:not(.gallery__favorite_active):hover {
  opacity: .5;
}
